body {
  color: #fff;
  margin: 30px 30px;
  background-color: #190901;
  font-family: Sans;
  font-size: 14px;
}

h1, h2, h3, h4 {
  color: #cf450a;
}

h4 {
   margin-bottom: 0px;
}

code.message {
  font-size: 16px;
  font-family: monospace;
  margin-left: -4px;
  padding: 4px;
  color: white;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  background-color: #190901;
}

.count {
  font-size: 80%;
  font-weight: normal;  
}

.count:before {
  content: "(";
}

.count:after {
  content: ")";
}

.query_keys h2 {
  display: inline;
}

.query_keys h2:before {
  content: '~ '
}

a {
  color: #32cf0a;
}

a:visited {
  color: #1f8207;
}

.content {
  border: solid 1px #333;
  padding: 0 17px;
  margin: 20px 0;
  background-color: #000;
}

.label {
  font-weight: bold;
}

.event_list h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.event_list table {
  margin-bottom: 16px;
  border-collapse: collapse;
  border-bottom: solid 1px #333;
}

.event_list tr {
  border-top: solid 1px #333;
}

.event_list th {
  text-align: left;
  padding-left: 5px;
}

.event_list tr:first {
  border-top: none;
}

.event_list td {
  border: none;
  padding: 3px 5px;
}

.event_list .count {
  text-align: right;
}

.event_list .time {
  padding-right: 0px;
}

.event_list .application {
  padding-right: 0px;
}

.event_list .node {
  padding-left: 0px;
}

.event_list .node:before {
  content: "@";
  padding-left: 2px;
  padding-right: 2px;
  color: #AAA;
}

.event_list .controller {
  text-align: right;
  padding-right: 0px;
  font-weight: bold;
}

.event_list .controller:after {
  content: "#";
  padding-left: 2px;
  padding-right: 2px;
  color: #AAA;
}

.event_list .action {
  padding-left: 0px;
  font-weight: bold;
}

.event_list .title {
  text-align: right;
  padding-right: 0px;
  font-weight: bold;
}

.event_list .title:after {
  content: ":";
  padding-left: 2px;
  padding-right: 2px;
  color: #AAA;
}

.event_list .message {
  padding-left: 0px;
  font-family: monospace;
}

.even td {
  background-color: #190901;
}

.odd td {
  background-color: #190901;
}

.event_history h4 {
  padding-left: 15px;
  margin-top: 5px;
}

.event_history ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 10px;
  border-bottom: solid 1px #333;
  background-color: #190901;
}

.event_history li {
  padding: 3px 5px;
  margin: 0px;
  border-top: solid 1px #333;
}

.event_history li.actual:before {
  content: "▶";
  margin-left: -20px;
  padding-right: 9px;
}

// Alarm
.level0 {
  color: red;
}

// Fehler
.level1 {
  color: orange;
}

// Warnung
.level2 {
  color: yellow;
}

// Info
.level3 {
  color: green;
}

// Diagnose
.level4 {
  color: #AAA;
}

.flash_notice, .flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: black;
  background-color: #f0f0f0;
}

.error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_explanation p {
  color: #190901;
  margin-bottom: 0;
  padding: 8px;
}

.error_explanation ul {
  margin: 2px 24px;
}

.error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}
