body {
  color: #fff;
  margin: 30px 30px;
  background-color: #181818;
  font-family: Sans;
  font-size: 14px;
}

h1, h2, h3 {
  color: #C43E0A;
}

h1 .count, h2 .count, h3 .count {
  font-size: 70%;
  font-weight: normal;  
}

h1 .count:before, h2 .count:before, h3 .count:before {
  content: "(";
}

h1 .count:after, h2 .count:after, h3 .count:after {
  content: ")";
}

.query_keys h2 {
  display: inline;
}

.query_keys h2:before {
  content: '~ '
}

a {
  color: #FFAF33;
}

a:visited {
  color: #F57340;
}

.content {
  border: solid 1px #333;
  padding: 0 17px;
  margin: 20px 0;
  background-color: #000;
}

.label {
  font-weight: bold;
}

ul.event_list {
  list-style-type: none;
  padding: 0;
}

.event_list li {
  padding: 5px 5px;
  color: #BBB;
}

.event_list .time {
  padding-right: 10px;
  font-weight: bold;
}

.event_list .level0 {
  padding-right: 10px;
  color: red;
}

.event_list .level1 {
  padding-right: 10px;
  color: orange;
}

.event_list .level2 {
  padding-right: 10px;
  color: yellow;
}

.event_list .level3 {
  padding-right: 10px;
}

.event_list .level5 {
  padding-right: 10px;
  color: blue;
}

.event_list .application {
}

.event_list .environment {
}

.event_list .environment:before {
  content: "–";
}

.event_list .node:before {
  content: "@";
}

.event_list .node {
  padding-right: 10px;
}

.event_list .controller {
}

.event_list .action:before {
  content: "#";
}

.event_list .action {
  padding-right: 10px;
}

.event_list .title {
  padding-right: 10px;
}

.event_list .message {
  padding-right: 10px;
  font-style: italic;
}

.even {
  background-color: #202020;
}

.odd {
  background-color: #000;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #202020;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
