<p id="request_data">
  <span class="label">Request data:</span>
  <%= link_to "hide...", hide_request_data_event_path, :remote => true %>
  <% coderay = CodeRay::Duo[:yaml, :div] %>
  <%= raw coderay.encode(@event.request_data) %>
</p>
