<h1>Eventful</h1>

<% @events.group_by { |e| e.created_at.strftime('%Y-%m-%d') }.each do |date, events| %>
<h2><%= date %></h2>

  <ul>
  <% events.each do |event| %>
    <li><%= event %></li>
  <% end %>
  </ul>
<% end %>
</table>
