<h1>Eventful</h1>

<% @events.group_by { |e| e.created_at.strftime('%Y-%m-%d') }.each do |date, events| %>
<div class="content">
  <h2><%= date %></h2>

  <ul class="event_list">
    <% events.each do |event| %>
      <li class="<%= cycle("even", "odd", :name => "row_class") %>"><%= link_to event, event %></li>
    <% end %>
  </ul>
</div>
<% end %>
